# This is Git's per-user configuration file.
[user]
	name = Ryan Bottriell
	email = ryanbottriell@live.ca
[alias]
	co = checkout
	st = status
	ca = commit --amend
	can = commit --ammend --no-edit
	poh = push origin HEAD
	clear = !git checkout master && git pull
[core]
	editor = /usr/bin/vim
