# This is Git's per-user configuration file.
[user]
	name = Ryan Bottriell
	email = ryanbottriell@live.ca
[alias]
	co = checkout
	st = status
	clear = !git checkout master && git pull
[url "ssh://git@github.com/bardel-tech"]
  insteadOf = https://github.com/bardel-tech
